[Unit]
Description=DuckDNS update once
After=network-online.target


[Service]
Type=oneshot
ExecStart=/usr/local/bin/duck.sh


[Install]
WantedBy=multi-user.target
