[Unit]
Description=SRT to HLS (FFmpeg)
After=network.target

[Service]
User=www-data
WorkingDirectory=/root
EnvironmentFile=/etc/srt-to-hls.env
ExecStart=/usr/local/bin/ffmpeg-start.sh
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
